@model WebApplication1.ViewModels.forgotPasswordVM
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Quên mật khẩu</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Quên mật khẩu</li>
    </ol>
</div>
<!-- Single Page Header End -->
@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<!-- Forgot password start -->
@* enctype="multipart/form-data": có cái này mới lấy được hình hi up ảnh *@
<div class="container-fluid py-5">
    <div style="background: url('../img/hero-img.jpg') !important;">
        <div class="container py-5">
            <h1 class="mb-4 d-flex justify-content-center">Quên mật khẩu</h1>
            <form asp-action="forgotPassword" asp-controller="KhachHang">
                <div class="row g-5">
                    <div class="col-md-12 col-lg-6 col-xl-7">
                        <div class="form-item">
                            <label asp-for="@Model.Email" class="form-label my-3"></label><sup>*</sup>
                            <input asp-for="@Model.Email" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="@Model.Email"></span>
                        </div>
                        <div class="form-group btn">
                            <input type="submit" value="Xác nhận" class="btn btn-default btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Forgot password end -->


